@import "fontawesome-all.min.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900";

@text-color : #585858;					//Variable

/* Mixins */
.basic{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.preload-animation{
	-moz-animation: none;
	-webkit-animation: none;
	-ms-animation: none;
	animation: none;
	-moz-transition: none;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}
.transform (@scale) {
	-moz-transform: scale(@scale);
	-webkit-transform: scale(@scale);
	-ms-transform: scale(@scale);
	transform: scale(@scale);
}
.transition (@seconds) {
	-moz-transition: border-bottom-color @seconds ease, color @seconds ease;
	-webkit-transition: border-bottom-color @seconds ease, color @seconds ease;
	-ms-transition: border-bottom-color @seconds ease, color @seconds ease;
	transition: border-bottom-color @seconds ease, color @seconds ease;
}

/* Type */
html {
	.basic;
	box-sizing: border-box;
}
body {
	.basic;
	line-height: 1;
	-webkit-text-size-adjust: none;
	-ms-overflow-style: scrollbar;
	background: #ffffff;
	color: @text-color;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.75;
	&:not(.is-touch) {
		.tiles {
			article {
				&:hover {
					>.image {
						.transform(1.1);

						&:before {
							background-color: #333333;
							opacity: 0.35;
						}
						&:after {
							opacity: 0;
						}
					}
				}
			}
		}
	}
}
div {
	.basic;
}
span {
	.basic;
}

h1 {
	.basic;
	font-size: 2.75em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0 0 1em 0;
	letter-spacing: -0.035em;
	a {
		color: inherit;
	}
}
h2 {
	.basic;
	font-weight: 900;
	line-height: 1.5;
	margin: 0 0 2em 0;
	text-transform: uppercase;
	letter-spacing: 0.35em;
	font-size: 1.1em;
	a {
		color: inherit;
	}
}
a {
	.basic;
	.transition (0.2s);
	text-decoration: none;
	color: @text-color;
	border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
	&:hover {
		border-bottom-color: transparent;
		color: #f2849e !important;
	}
}

img {
	.basic;
}
article {
	.basic;
	display: block;
}
header {
	.basic;
	display: block;
}
section {
	.basic;
	display: block;
}

/* Basic */
@-ms-viewport {
	width: device-width;
}
* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
	
}
body.is-preload {
	* {
		.preload-animation !important;
		&:before {
			.preload-animation !important;
		}
		&:after {
			.preload-animation !important;
		}
	}
	.tiles {
		article {
			.transform(0.9);
			opacity: 0;
		}
	}
}
.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
	img {
		border-radius: 4px;
		display: block;
	}
}

/* Tiles */
.tiles {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	margin: -2.5em 0 0 -2.5em;
	article {
		.transition(0.5s);
		position: relative;
		width: calc(33.33333% - 2.5em);
		margin: 2.5em 0 0 2.5em;
		>.image {
			-moz-transition: -moz-transform 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease;
			transition: transform 0.5s ease;
			position: relative;
			display: block;
			width: 100%;
			border-radius: 4px;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
			}
			&:before {
				pointer-events: none;
				.transition(0.5s);
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1.0;
				z-index: 1;
				opacity: 0.8;
			}
			&:after {
				pointer-events: none;
				-moz-transition: opacity 0.5s ease;
				-webkit-transition: opacity 0.5s ease;
				-ms-transition: opacity 0.5s ease;
				transition: opacity 0.5s ease;
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				opacity: 0.25;
				z-index: 2;
			}
		}
		>a {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			.transition(0.5s);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 1em;
			border-radius: 4px;
			border-bottom: 0;
			color: #ffffff;
			text-align: center;
			text-decoration: none;
			z-index: 3;

			&:last-child {
				margin: 0;
			}
			&:hover {
				color: #ffffff !important;
			}
			h2 {
				margin: 0;
			}
		}
	}
	article.style1 {
		>.image {
			&:before {
				background-color: #f2849e;
			}
		}
	}
	article.style2 {
		>.image {
			&:before {
				background-color: #7ecaf6;
			}
		}
	}
}

/* Wrapper */

#wrapper {
	-moz-transition: opacity 0.45s ease;
	-webkit-transition: opacity 0.45s ease;
	-ms-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
	opacity: 1;
	>* {
		>.inner {
			width: 100%;
			max-width: 68em;
			margin: 0 auto;
			padding: 0 2.5em;
		}
	}
}

/* Header */
#header {
	padding: 8em 0 0.1em 0;
	.logo {
		display: block;
		border-bottom: 0;
		color: inherit;
		font-weight: 900;
		letter-spacing: 0.35em;
		margin: 0 0 2.5em 0;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		>* {
			display: inline-block;
			vertical-align: middle;
		}
		.symbol {
			margin-right: 0.65em;
			img {
				display: block;
				width: 2em;
				height: 2em;
			}
		}
	}
}

/* Main */
#main {
	padding: 0em 0 6em 0;
}

/* Responsive Less */

@media screen and (max-width: 480px) {
	html {
		min-width: 320px;
	}
	body {
		min-width: 320px;
	}
	.tiles {
		margin: 0;
		article {
			width: 100%;
			margin: 1.25em 0 0 0;
		}
	}
}
@media screen and (max-width: 1680px) {
	body {
		font-size: 14pt;
	}
}
@media screen and (max-width: 1280px) {
	body {
		font-size: 12pt;
	}
	.tiles {
		margin: -1.25em 0 0 -1.25em;
		article {
			width: calc(33.33333% - 1.25em);
			margin: 1.25em 0 0 1.25em;
		}
	}
}
@media screen and (max-width: 736px) {
	h1 {
		font-size: 2em;
		margin: 0 0 1em 0;
	}
	h2 {
		font-size: 1em;
	}
	header {
		p {
			margin-top: 0;
		}
	}
	.image.main {
		margin: 0 0 2em 0;
	}
	.tiles {
		margin: -1.25em 0 0 -1.25em;
		article {
			width: calc(50% - 1.25em);
			margin: 1.25em 0 0 1.25em;
			&:hover {
				>.image {
					.transform(1.0);
				}
			}
		}
	}
	#header {
		padding: 4em 0 0.1em 0;
		nav {
			right: 0.5em;
			top: 0.5em;
			ul {
				li {
					a[href="#menu"] {
						&:before {
							background-size: 1.5em 1.5em;
						}
						&:after {
							background-size: 1.5em 1.5em;
						}
					}
				}
			}
		}
	}
	#main {
		padding: 0em 0 4em 0;
	}
	#wrapper {
		>* {
			>.inner {
				padding: 0 1.25em;
			}
		}
	}
}
@media screen and (max-width: 360px) {
	h1 {
		font-size: 1.75em;
	}
}
@media screen and (max-width: 980px) {
	.tiles {
		margin: -2.5em 0 0 -2.5em;
		article {
			width: calc(50% - 2.5em);
			margin: 2.5em 0 0 2.5em;
		}
	}
	
}
