@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");










/* Header */

#header {
    padding: 8em 0 0.1em 0;

    .logo {
        display: block;
        border-bottom: 0;
        color: inherit;
        font-weight: 900;
        letter-spacing: 0.35em;
        margin: 0 0 2.5em 0;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        .symbol{
            margin-right: 0.65em;

            img{
                display: block;
                width: 2em;
                height: 2em;
            }
        }
    }
}
/*
    @media screen and (max-width: 736px) {

        #header {
            padding: 4em 0 0.1em 0 ;
        }
    }
*/